html,body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.console {
	position: fixed;
	bottom: 10px;
	left: 10px;
	margin: auto;
}
#command {
	width: 500px;
	padding: 5px;
	font-family: Courier New;
}
#command:active,#command:hover, #command:focus {
	color: #00A4E9;
}
button {
	padding: 10px;
	background-color: #00B4FF;
	color: white;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}
button:hover {
	background-color: #006CD1
}